:root {
    --board-color: #147bfa;
    --solid-red: rgb(255, 22, 22);
    --solid-yellow: rgb(230, 225, 0);
    --player-red: linear-gradient(var(--solid-red), rgb(153, 13.2, 13.2));
    --player-yellow: linear-gradient(var(--solid-yellow), rgb(138, 135, 0));
}

.bg-red {
    background-color: var(--solid-red);
    background-image: var(--player-red);
}

.bg-yellow {
    background-color: var(--solid-yellow);
    background-image: var(--player-yellow);
}

.border-0 {
    border-color: var(--board-color);
    border-image: linear-gradient(to right, var(--solid-red) 50%, var(--solid-yellow) 50%) 49%;
}

.border-1 {
    border-color: var(--solid-red);
    border-image: var(--player-red) 49%;
}

.border-2 {
    border-color: var(--solid-yellow);
    border-image: var(--player-yellow) 49%;
}
