:root {
    --board-color: #147bfa;
    --solid-red: rgb(255, 22, 22);
    --solid-yellow: rgb(230, 225, 0);
    --player-red: linear-gradient(var(--solid-red), rgb(153, 13.2, 13.2));
    --player-yellow: linear-gradient(var(--solid-yellow), rgb(138, 135, 0));
}

body {
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.25rem;
    margin: 0;
}

.navbar {
    background-color: #161B22;
    font-size: 2rem;
    overflow: hidden;
    padding: 14px 20px;
    position: sticky;
}

.navbar a {
    color: white;
    float: left;
    text-decoration: none;
}

.navbar a:hover {
    color: lightgray;
}

.container {
    margin: 20px;
    width: 1000px;
    height: 500px;
}

#board {
    width: 49%;
    height: 84%;
    border: 5px solid var(--board-color);
    border-radius: 15px;
    margin: 10px;
    float: left;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.tile {
    position: relative;
    cursor: pointer;
}

.tile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent 60%, var(--board-color) 60%);
    z-index: 1;
}

.piece {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.piece[data-win='true'] {
    animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 50%;
    }
}

.bg-red {
    background-color: var(--solid-red);
    background-image: var(--player-red);
}

.bg-yellow {
    background-color: var(--solid-yellow);
    background-image: var(--player-yellow);
}

#menu {
    width: 30%;
    height: 84%;
    margin: 10px;
    display: inline-block;
    border-width: 10px 0 0 0;
    border-style: solid;
    background-color: rgb(230, 230, 230);
    text-align: center;
    transition: border 1s, height 1s;
}

.border-0 {
    border-color: var(--board-color);
    border-image: linear-gradient(to right, var(--solid-red) 50%, var(--solid-yellow) 50%) 49%;
}

.border-1 {
    border-color: var(--solid-red);
    border-image: var(--player-red) 49%;
}

.border-2 {
    border-color: var(--solid-yellow);
    border-image: var(--player-yellow) 49%;
}

#menu[data-done='true'] {
    height: calc(84% - 50px);
    border-top-width: 50px;
}

#menu h2 {
    margin: 5px;
}

#menu h3 {
    margin: 0;
    font-size: 1.25rem;
}

#menu p {
    margin: 10px;
    font-size: 1.1rem;
}

#turn-counter {
    font-style: italic;
}

#history {
    margin: 5px;
    border: 2px solid black;
    font-size: 1.1rem;
}

#reset {
    font-size: 1.25rem;
    padding: 4px 24px;
    margin: 8px;
    border: 2px solid var(--board-color);
    border-radius: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#reset[data-primary='true'], #reset:not([data-primary='true']):hover {
    background-color: var(--board-color);
    color: white;
}

#reset:not([data-primary='true']), #reset[data-primary='true']:hover {
    background-color: white;
    color: var(--board-color);
}
