:root {
    --board-color: #147bfa;
}

body {
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.25rem;
    margin: 0;
}

.navbar {
    background-color: #161B22;
    font-size: 2rem;
    overflow: hidden;
    padding: 14px 20px;
    position: sticky;
}

.navbar a {
    color: white;
    float: left;
    text-decoration: none;
}

.navbar a:hover {
    color: lightgray;
}

.container {
    margin: 20px;
}

#board {
    width: 420px;
    height: 360px;
    border: 5px solid var(--board-color);
    border-radius: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.tile {
    position: relative;
}

.tile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent 60%, var(--board-color) 60%);
    z-index: 1;
}

.piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
